body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    font-family: sans-serif;
}

header {
    background-color: aqua;
    border: 1px solid black;
    grid-column: 2 / -1;
}

nav {
    background-color: #1992d4;
    color: white;
    grid-row: 1 / -1;
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 1rem;
    font-weight: bold;
    font-size: x-large;
}

.branding,
nav li {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-items: center;
}

nav ul {
    display: inline;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    justify-self: start;
}

.branding {
    font-size: xx-large;
}

.branding img {
    height: 3rem;
}

main {
    background-color: coral;
    border: 1px solid black;
}