body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    font-family: sans-serif;
}

img {
    border-radius: 100%;
}

#header {
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem 2rem;
    gap: 1rem;
    font-weight: bold;
}

#header>* {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

#header input {
    width: 80%;
}

#alerts-user {
    font-size: large
}

#alerts-user img,
#trending img {
    height: 3rem;
}

#user-info {
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem 1rem;
}

#user-info img {
    height: 6rem;
    grid-row: 1 / -1;
}

#greeting {
    align-self: end;
}

#user-name-large {
    align-self: start;
    font-size: xx-large;
}

nav {
    background-color: #1992d4;
    color: white;
    grid-row: 1 / -1;
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 1rem;
    font-weight: bold;
    font-size: x-large;
}

.branding,
nav li a {
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-items: start;
}

nav ul {
    display: inline;
    padding: 0;
    margin: 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    justify-self: start;
}

nav i,
nav img {
    justify-self: center;
}

.branding {
    font-size: xx-large;
}

.branding img {
    height: 3rem;
}

#content {
    background-color: #e2e8f0;
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#content article {
    border: 1px solid black;
}

main {
    grid-row: 1 / -1;
}

#projects {
    resize: both;
    overflow: auto;
    display: grid;
    gap: 4px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}